* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.padding-site {
  padding-right: 98px;
  padding-left: 98px;
}

.container {
  margin: 0 auto;
  width: 1366px;
}

.slider {
  background-image: url(./img/slider-img.jpg);
  height: 800px;
  position: relative;
}

.slider-trending {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  padding-top: 63px;
}

.menu {
  float: right;
}

.menu-list {
  list-style-type: none;
  float: left;
}

.menu-link {
  /* Style for "HOME     P" */
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
}

.menu-link:hover {
  color: #212121;
}

.menu-link-active {
  border-bottom: 3px solid #212121;
  color: #212121;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.slider-text {
  margin-top: 283px;
  display: inline-block;
}

.slider-h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
}

.slider-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  width: 458px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

.button {
  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  color: #212121;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  letter-spacing: 3.6px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 221px;
}

.button:hover {}

a:active {
  box-shadow: none;
}

.pagination {
  position: absolute;
  width: 1170px;
  bottom: 19px;
  text-align: center;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 5px;
}

.circle-active {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin: 0;
}

.circle:hover {
  background-color: #212121;
}

.products-catalog {
  height: 609px;
  background-color: #fff;
}

.product-menu {
  float: left;
  margin-top: 120px;
  padding-left: 0;
}

.menu-list {
  list-style-type: none;
  float: left;
}

ul {
  display: block;
  list-style-type: disc;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.catalog-change-link {
  border-bottom: 1px solid #6c6c6c;
  color: #6c6c6c;
  display: block;
  font-size: 36px;
  font-weight: 700;
  padding: 0 20px 12px 7px;
  text-decoration: none;
}

.catalog-change-link-active {
  border-bottom: 3px solid black;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}

.catalog-change-link:hover {
  color: #212121;
}

.explore-catalog {
  background: url(img/slider/arrow.svg) no-repeat right 50%;
  color: #212121;
  float: right;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  margin-top: 138px;
  padding: 10px 13px;
  text-decoration: none;
  text-transform: uppercase;
}

.products-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.featured-product {
  height: 270px;
  position: relative;
  width: 270px;
}

.featured-product:hover>img {
  opacity: 0.1;
  outline: 1px solid #9c9c9c;
}

.featured-product:hover>.featured-product-hover {
  display: block;
}

.featured-product-hover {
  display: none;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 270px;
}

.featured-product-hover-button {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  display: inline-block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
}

.featured-product-hover-button {
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 50%;
  background-color: #ffffff;
}

.featured-product-hover-h2 {
  color: #212121;
  font-size: 21px;
  font-weight: 700;
  margin-top: 16px;
  letter-spacing: 0px;
}

.featured-product-hover-text {
  width: 210px;
  margin-left: 32px;
  margin-top: 18px;
  color: #6c6c6c;
  font-size: 13px;
  font-weight: 300;
  line-height: 21.91px;
  letter-spacing: 0px;
}

.icon-hover {
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 24px;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  display: flow-root;
}

.hover-element {
  left: 110px;
  width: 270px;
  text-align: center;
  position: absolute;
  top: 62px;
  display: none;
}

.icon-hover-img {
  padding-left: 17px;
  padding-top: 12px;
}

.icon-hover-h2 {
  position: relative;
  top: 74px;
  left: 40px;
}

.icon-hover-p {
  padding-top: 100px;
  text-align: center;
  margin: 0 30px;
}

.explore-all {
  float: right;
  color: #212121;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "explore al" */
  color: #212121;
  letter-spacing: 3.6px;
}

.explore-arrow {
  width: 9px;
  height: 12px;
}

.exlusive-block {
  height: 683px;
}

.promo-content {
  display: inline-block;
}

.promo-content-1 {
  width: 683px;
  height: 683px;
  background-image: url('./img/promo-img.jpg');
  float: right;
}

.promo-content-2 {
  width: 683px;
  height: 683px;
  background-image: url('./img/promo-img1.jpg');
}

.promo-text {
  margin-top: 228px;
  padding-left: 51px;
  display: inline-block;
}

.promo-content-tr {
  /* Style for "exclusive" */
  color: #1e88e5;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "exclusive" */
  color: #1e88e5;
  letter-spacing: 1.8px;
  padding-bottom: 18px;
}

.promo-content-h2 {
  /* Style for "Fishnet Ch" */
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 24px;
}

.promo-content-p {
  /* Style for "Seat and b" */
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 32px;
}

.trending-products-block {
  height: 1108px;
  margin: 0 auto;
}

.trending-product-text {
  /* Style for "Trending P" */
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  display: block;
  padding-top: 119px;
}

.trending-product-text p {
  float: left;
  display: contents;
}

.product-list {
  list-style-type: none;
}

.product-item {
  float: left;
  padding: 10px 10px;
  width: 370px;
  height: 370px;
}

.products-block {
  margin: 0 auto;
  padding: 0 0;
}

.hotdeal-slider {
  height: 800px;
  background-image: url('./img/hero-8.jpg');
  position: relative;
  padding-left: 106px;
}

.hotdeal-slider-text {
  position: absolute;
  top: 287px;
}

.slider-hotdeal {
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.slider-h2 {
  color: #212121;
  font-size: 60px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.slider-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  width: 458px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

.button {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background: url('img/arrow.svg') no-repeat 185px 50%;
  background-color: #ffffff;
  width: 212px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.pagination {
  position: absolute;
  width: 1170px;
  bottom: 19px;
  text-align: center;
}

.exclusive-bottom-block {
  height: 810px;
  padding-top: 120px;
}

.promo-content-ex {
  width: 570px;
  height: 570px;
  background-image: url('./img/product-1-lg.jpg');
  float: left;
  margin-left: 98px;
}

.ex-block {
  display: block;
}

.ex-list {
  list-style-type: none;
  position: relative;
  top: -17px;
}

.ex-items {
  float: left;
}

.ex-img {
  padding: 15px 15px;
}

.mobile-app {
  background-image: url('./img/back-img.jpg');
  height: 516px;
}

.promo-text-m {
  margin-top: 180px;
  padding-left: 51px;
  display: inline-block;
}

.promo-content-tr-m {
  /* Style for "mobile app" */
  color: #6c6c6c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "mobile app" */
  color: #6c6c6c;
  letter-spacing: 1.8px;
}

.promo-content-h2-m {
  /* Style for "Find. Foll" */
  color: #212121;
  font-size: 62px;
  font-weight: 400;
  text-transform: uppercase;
  width: 550px;
  height: 116px;
}

.promo-content-p-m {
  /* Style for "Save your" */
  color: #6c6c6c;
  font-size: 22px;
  font-weight: 300;
  padding-top: 60px;
}

.button-ap {
  width: 135px;
  height: 40px;
  float: left;
  display: block;
  padding-top: 10px;
}

.button-gp {
  width: 135px;
  height: 40px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

.footer {
  background-image: url('./img/footer-back.svg');
  height: 300px;
  padding-top: 100px;
  width: 1366px;
}

.footer-h2 {
  /* Style for "Contact Us" */
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "C, ontact" */
  letter-spacing: 1.8px;
}

.footer-p {
  /* Style for "132A Bridg" */
  color: #212121;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.footer-contact {
  float: left;
  width: 221px;
  height: 102px;
  margin-left: 97px;
}

.footer-info {
  float: left;
  padding-left: 50px;
  margin: 0 80px;

}

.f-list a {
  text-decoration-line: none;
  color: #212121;
}

.f-stay {
  width: 363px;
  height: 36px;
  float: right;
  display: inline-block;
  vertical-align: top;
}

.f-bottom {
  display: inline-flex;
}

.f-bottom-h2 {
  float: left;
}

.f-right-h2 {
  float: right;
}

.f-tb {
  float: left;
  padding-right: 50px;
  list-style-type: none;
}

.f-list {
  padding: 5px 0;
  color: #212121;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "Architect" */
  letter-spacing: 0.7px;
}

.footer-h2 {
  padding-bottom: 25px;
}

.f-bottom-h2 {
  padding-right: 50px;
  margin: 0 98px;
  /* Style for "© Copyrigh" */
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "©,  Copyri" */
  letter-spacing: 0.6px;
}

img[alt="social"] {
  position: relative;
  top: -10px;
}

.footer-mail {
  margin-right: 98px;
}
.footer-mail-input {
  border: 1px solid #d9dee1;
  background-color: #ffffff;
  width: 370px;
  height: 48px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  padding-left: 20px;
}
.footer-mail input {
  position: relative;
    display: block;
    bottom: 33px;
    left: 958px;

}
.footer-mail-send {
  position: relative;
  bottom: 65px;
    left: 1213px;
}

.footer-p {
  padding-bottom: 10px;
}

.header-contact {
  height: 360px;
  width: 1366px;
  background-image: url('./img/hero-back.svg');
}

.menu-block {
  margin-top: 63px;
  display: inline-block;
  width: 1101px;
  margin-left: 100px;
}

.menu-block .menu {}

.contact-h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 400;
  margin-top: 171px;
  margin-top: 171px;
  margin-left: 101px;
}

.cards-block {
  margin-left: 98px;
  text-align: center;
}

.cards {
  margin: 71px 15px;
  float: left;
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  opacity: 0.9;
  width: 370px;
  height: 370px;
  padding-top: 48px;
}

.cards img {
  margin-bottom: 10px;
}

.cards p {
  margin-top: 10px;
  font-family: "Montserrat - Bold";
  font-weight: 700;
}

.grey {
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}
